* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #8052ec, #d161ff);
  }
  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background: linear-gradient(135deg, #8052ec, #d161ff);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.8); /* Optional: subtle white border */
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease; /* Smooth transition on hover */
}

.back-button:hover {
    background-color: rgba(155, 21, 21, 0.8); /* Semi-transparent red on hover */
    border: 2px solid rgba(255, 255, 255, 1); /* Optional: white border on hover */
}
